app-version==1.0.1
Django==2.2.10
django-appconf==1.0.3
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==0.0.8
django-crispy-forms==1.7.2
python-dateutil==2.8.0
pytz==2019.2
rules==2.1
six==1.12.0
sqlparse==0.3.0
