{% extends "base.html" %} {% block title %}
<title>Alarmous | {{title}}</title>
{% endblock %} {% load crispy_forms_tags %}{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/monim67/django-bootstrap-datepicker-plus/master/bootstrap_datepicker_plus/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>

<div class="container">
    <div class="p-4">
        <h1>{{title}}</h1>
        <form action="" method="post">
            {% csrf_token %} {{ form|crispy }}
            <div class="row">
                <div class="col-6">
                    <input class="btn btn-success" type="submit" value={{ title }}>
                </div>
                <div class="col-6">
                    <a href="{% url 'home' %}" class="btn btn-secondary float-right">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}