<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% block title %}
    <title>Alarmous | Homepage</title>{% endblock %} {% load static %} {% load bootstrap4 %} {% bootstrap_css %} {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <link rel="stylesheet" href="{% static 'alarms/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'alarms/css/datetimepicker.css' %}">
</head>

<body>
    <div class="container-fluid mx-auto">
        {% if user.is_authenticated %} {% block sidebar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Alarmous</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'alarm_create' %}">Add Alarm</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-sm-0">
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endblock %}
        <div class="col mx-auto">
            {% block content %}{% endblock %}
        </div>
        {% else %}
        <center style="padding-top: 30vh;">
            <h1>You are not authorized to view this page</h1>
            <p class="py-2">Use this <a href="{% url 'login' %}">link</a> to log in, or this <a href="{% url 'signup' %}">link</a> to make a new account</p>
        </center>
        {% endif %}
    </div>

</body>