{% extends "base.html" %} {% block content %}
<center>
    <p class="pt-5">Welcome to Alarmous <b>{{user.first_name}} {{user.last_name}}</b>, Your one stop shop to all things alarms related</p>
    <h1>Current time is</h1>
    <h1 id="time"></h1>
</center>
<h3 class="p-4 my-4">All the alarms you have ever created</h3>
<center>
    <div class="row">
        {% for alarm in alarm_list %}
        <div class="card col-lg-3 col-md-4 col-sm-6 p-4 m-4 alarm">
            <small><p class="text-danger alarm-warning"></p></small>
            <div class="card-body">
                <h4 class="card-title">{{alarm.title}}</h4>
                <h5 class="card-subtitle alarm-time">{{alarm.time}}</h5>
                <p style="display: none;" class="alarm-sound">{{alarm.sound.audio.url}}</p>
                <p class="card-text alarm-relative"></p>
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'alarm_update' pk=alarm.id %}" class="btn btn-success">Edit</a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'alarm_delete' pk=alarm.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-alarm-{{forloop.counter0}}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title alarm-title">{{alarm.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                          </button>
                    </div>
                    <div class="modal-body alarm-text">
                        <p>Your alarm is ringing. Click on dismiss to cancel the alarm, or delete to dismiss and remove the alarm</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                        <a href="{% url 'alarm_delete' pk=alarm.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <ul class="pagination">
        <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                &laquo;
            </a> {% else %}
            <a href="" class="page-link disabled">
                &laquo;
            </a> {% endif %}
        </li>
        <li class="page-item disabled">
            <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>
        <li class="page-item">
            {% if page_obj.has_next %}
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                    &raquo;
                </a> {% else %}
            <a href="" class="page-link disabled">
                    &raquo;
                </a> {% endif %}
        </li>
    </ul>
    {% endif %}
</center>
{% load static %}
<script type="text/javascript" src="{% static 'alarms/js/time.js' %}"></script>
{% endblock %}