{% extends "base.html" %} {% block title %}
<title>Alarmous | {{title}}</title>
{% endblock %} {% load crispy_forms_tags %}{% block content %}
<div class="container">
    <div class="col-lg-6 col-sm-8 col-xs-12 mx-auto py-3">
        <h1>{{title}}</h1>
        <form action="" method="post">
            {% csrf_token %} {{ form|crispy }}
            <div class="row">
                <div class="col-6">
                    <input class="btn btn-success" type="submit" value={{ title }}>
                </div>
                <div class="col-6">
                    <a href="{% url 'home' %}" class="btn btn-secondary float-right">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}